target/
.idea/*
.settings
*.log
*.error
*.log.*
*.error.*
*.iml
*.jpg
*.iml
.mvn/
mvnw
mvnw.*
src/main/java/com/ivy/model/vo/
src/main/webapp/img/illustration/
target/generated-sources/
target/poem/WEB-INF/classes/com/ivy/model/vo/
