target/
.idea/*
 .idea/workspace.xml
.settings
*.log
*.error
*.iml
*.jpg
.mvn/
mvnw
mvnw.*
src/main/java/com/ivy/model/vo/
src/main/webapp/img/illustration/
target/generated-sources/

target/poem/WEB-INF/classes/com/ivy/model/vo/

