<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivy.dao.PoemDetailMapper">
    <resultMap id="BaseResultMap" type="com.ivy.model.po.PoemDetail">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="poem_id" jdbcType="INTEGER" property="poemId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="reference" jdbcType="LONGVARCHAR" property="reference"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
        <result column="data_version" jdbcType="INTEGER" property="dataVersion"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, poem_id, type, sort, content, reference , status, delete_flag, data_version, create_date, update_date
  </sql>


    <select id="selectList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from poem_detail
        where poem_id = #{poemId,jdbcType=INTEGER}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from poem_detail
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from poem_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ivy.model.po.PoemDetail">
    insert into poem_detail (id, poem_id, type, 
      sort, status, delete_flag, 
      data_version, create_date, update_date, 
      content, reference)
    values (#{id,jdbcType=INTEGER}, #{poemId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR},
      #{sort,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{deleteFlag,jdbcType=INTEGER}, 
      #{dataVersion,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR}, #{reference,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.ivy.model.po.PoemDetail">
        insert into poem_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="poemId != null">
                poem_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="dataVersion != null">
                data_version,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="reference != null">
                reference,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="poemId != null">
                #{poemId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="dataVersion != null">
                #{dataVersion,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="reference != null">
                #{reference,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ivy.model.po.PoemDetail">
        update poem_detail
        <set>
            <if test="poemId != null">
                poem_id = #{poemId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="dataVersion != null">
                data_version = #{dataVersion,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="reference != null">
                reference = #{reference,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ivy.model.po.PoemDetail">
    update poem_detail
    set poem_id = #{poemId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      data_version = #{dataVersion,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR},
      reference = #{reference,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.ivy.model.po.PoemDetail">
    update poem_detail
    set poem_id = #{poemId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      data_version = #{dataVersion,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>