<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivy.dao.PoemMapper">
  <resultMap id="BaseResultMap" type="com.ivy.model.po.Poem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="poet_id" jdbcType="INTEGER" property="poetId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="dynasty_id" jdbcType="VARCHAR" property="dynastyId" />
    <result column="types" jdbcType="VARCHAR" property="types" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="data_version" jdbcType="INTEGER" property="dataVersion" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ivy.model.po.Poem">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, poet_id, title, dynasty_id, types, status, delete_flag, data_version, create_date, 
    update_date
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>

  <select id="selectByTitleDynastyAuthor" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from poem
    where title = #{title,jdbcType=VARCHAR}
    and dynasty_id = #{dynastyId,jdbcType=INTEGER}
    and poet_id = #{poetId,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from poem
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from poem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ivy.model.po.Poem">
    insert into poem (id, poet_id, title, 
      dynasty_id, types, status, 
      delete_flag, data_version, create_date, 
      update_date, content)
    values (#{id,jdbcType=INTEGER}, #{poetId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{dynastyId,jdbcType=VARCHAR}, #{types,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{deleteFlag,jdbcType=INTEGER}, #{dataVersion,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ivy.model.po.Poem">
    insert into poem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="poetId != null">
        poet_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="dynastyId != null">
        dynasty_id,
      </if>
      <if test="types != null">
        types,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="dataVersion != null">
        data_version,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="poetId != null">
        #{poetId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="dynastyId != null">
        #{dynastyId,jdbcType=VARCHAR},
      </if>
      <if test="types != null">
        #{types,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="dataVersion != null">
        #{dataVersion,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ivy.model.po.Poem">
    update poem
    <set>
      <if test="poetId != null">
        poet_id = #{poetId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="dynastyId != null">
        dynasty_id = #{dynastyId,jdbcType=VARCHAR},
      </if>
      <if test="types != null">
        types = #{types,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="dataVersion != null">
        data_version = #{dataVersion,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ivy.model.po.Poem">
    update poem
    set poet_id = #{poetId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      dynasty_id = #{dynastyId,jdbcType=VARCHAR},
      types = #{types,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      data_version = #{dataVersion,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ivy.model.po.Poem">
    update poem
    set poet_id = #{poetId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      dynasty_id = #{dynastyId,jdbcType=VARCHAR},
      types = #{types,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      data_version = #{dataVersion,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>