<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivy.dao.PoemTypeRefMapper">
  <resultMap id="BaseResultMap" type="com.ivy.model.po.PoemTypeRef">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="poem_id" jdbcType="INTEGER" property="poemId" />
    <result column="poem_type_id" jdbcType="INTEGER" property="poemTypeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="data_version" jdbcType="INTEGER" property="dataVersion" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, poem_id, poem_type_id, status, delete_flag, data_version, create_date, update_date
  </sql>
  <select id="selectByParam" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from poem_type_ref
    where poem_id = #{poemId,jdbcType=INTEGER}
    and poem_type_id = #{typeId,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from poem_type_ref
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from poem_type_ref
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ivy.model.po.PoemTypeRef">
    insert into poem_type_ref (id, poem_id, poem_type_id, 
      status, delete_flag, data_version, 
      create_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{poemId,jdbcType=INTEGER}, #{poemTypeId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{deleteFlag,jdbcType=INTEGER}, #{dataVersion,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ivy.model.po.PoemTypeRef">
    insert into poem_type_ref
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="poemId != null">
        poem_id,
      </if>
      <if test="poemTypeId != null">
        poem_type_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="dataVersion != null">
        data_version,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="poemId != null">
        #{poemId,jdbcType=INTEGER},
      </if>
      <if test="poemTypeId != null">
        #{poemTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="dataVersion != null">
        #{dataVersion,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ivy.model.po.PoemTypeRef">
    update poem_type_ref
    <set>
      <if test="poemId != null">
        poem_id = #{poemId,jdbcType=INTEGER},
      </if>
      <if test="poemTypeId != null">
        poem_type_id = #{poemTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="dataVersion != null">
        data_version = #{dataVersion,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ivy.model.po.PoemTypeRef">
    update poem_type_ref
    set poem_id = #{poemId,jdbcType=INTEGER},
      poem_type_id = #{poemTypeId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      data_version = #{dataVersion,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>