<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivy.dao.PoetriesToTypeMapper">
  <resultMap id="BaseResultMap" type="com.ivy.model.po.PoetriesToType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="poetries_id" jdbcType="INTEGER" property="poetriesId" />
    <result column="poetries_type_id" jdbcType="INTEGER" property="poetriesTypeId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, poetries_id, poetries_type_id, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from poetries_to_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from poetries_to_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ivy.model.po.PoetriesToType">
    insert into poetries_to_type (id, poetries_id, poetries_type_id, 
      created_at, updated_at)
    values (#{id,jdbcType=INTEGER}, #{poetriesId,jdbcType=INTEGER}, #{poetriesTypeId,jdbcType=INTEGER}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ivy.model.po.PoetriesToType">
    insert into poetries_to_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="poetriesId != null">
        poetries_id,
      </if>
      <if test="poetriesTypeId != null">
        poetries_type_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="poetriesId != null">
        #{poetriesId,jdbcType=INTEGER},
      </if>
      <if test="poetriesTypeId != null">
        #{poetriesTypeId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ivy.model.po.PoetriesToType">
    update poetries_to_type
    <set>
      <if test="poetriesId != null">
        poetries_id = #{poetriesId,jdbcType=INTEGER},
      </if>
      <if test="poetriesTypeId != null">
        poetries_type_id = #{poetriesTypeId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ivy.model.po.PoetriesToType">
    update poetries_to_type
    set poetries_id = #{poetriesId,jdbcType=INTEGER},
      poetries_type_id = #{poetriesTypeId,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>